{% extends "r1pyle/base.html" %}
{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <small class="text-muted">These questions should follow the first run through a facsimile CAD list.<br />The first run is without an assistive tool.</small>
            </div>
            <h2><a class="article-title" href="#">Questions after first run (1A)</a></h2>
            <p class="article-content">
              Did you work strictly down the list in order, essentially in a single pass? Or did you skim the list looking for notable calls on the first pass, then look again more closely?
              Why did you do it that way?
              How do you feel about your choices of which to view?
              Do you think that’s the same as when you’re working the ECCH desk?
              How do you think your choices about viewing match those of your colleagues?
              Qs 5-8
              Do you have any thoughts on the process as a whole?</p>
          </div>
        </article>
{% endblock content %}
